@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrap a {
    
    color: black;
    width: max-content;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.wrap .logo {
    font-weight: bold;
    font-size: 40px;
}

.login a{
    font-style: normal;
    font-size: 18px;
}

.wrap header {
    color: black;
    font-size: 30px;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav {

    width: max-content;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;


}
.navbar a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 2px;
}

.navbar2 nav {
    padding-top: 50px;
    width: max-content;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;


}
.navbar2 a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 40px;
}

.content .interpark {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    
}
.interpark img {

    width: 40%;
}
.interpark h1 {
    margin-bottom: 50px;
}
.interpark h2 {
    margin-top: 50px;
}
.interpark p {
    margin-top: 20px;
}


/*카피라이트*/
.footer {
    width: max-content;
    font-size: small;
    padding: 50px;
    justify-content: center;
    color: rgb(48, 43, 43);
    text-align: center;
    margin: 0 auto;
  }